<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigMetric Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BigMetric.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B4281BD2A1FFF5900C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4281CD2A1FFF5A00C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4281D72A1FFF5A00C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4281E32A1FFF5A00C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4281F52A1FFF5B00C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4281FF2A1FFF5B00C696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
